apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "spot-termination-exporter.shortname" . }}-postgres-loader
  labels:
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": "before-hook-creation"
spec:
  template:
    spec:
      containers:
      - name: {{ template "spot-termination-exporter.shortname" . }}-postgres-loader-load
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: {{ template "spot-termination-exporter.configMapName" . }}
        - configMapRef:
            name: {{ template "spot-termination-exporter.fullname" . }}-preload
        env:
          - name: SKIP_NETWORK_CHECKS
            value: 'true'
          - name: RUN_INIT_STEPS
            value: 'true'
        {{- if .Values.generate_db_name }}
          - name: DB_NAME
            value: {{ .Release.Name }}
        {{- end }}
      {{- if .Values.paramstore.secrets }}
        {{- range .Values.paramstore.secrets }}
          - name: {{ . }}
            valueFrom:
              secretKeyRef:
                name: {{ template "spot-termination-exporter.secretName" $ }}
                key: {{ . }}
        {{- end }}
      {{- end }}
        args: ['true']
      restartPolicy: OnFailure
  backoffLimit: 4
